body{
    font-family: 'Montserrat', sans-serif;
}
.head-sec{
    display: flex;
}
h1{
    font-size: 45px;
    font-weight: 700;
    color: #575757;
}
p{
    color: #828282;
}
.set-width span{
    color: rgba(255, 166, 0, 0.897);}
.set-width{
    width: 50%;
    padding-left: 8%;
}
.set-width img{
    width: 546px;
    height: 600px;
}
#head-div-pad{
    padding-top: 8%;
}
.set-width p{
    margin-bottom: 10%;
}
.set-width a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #FFA755;
    padding: 10px 25px;
    border-radius: 60px;
}
.about-sec{
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin-top: 10%;
}