body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.head-sec{
    display: flex;
    background-image: url(images/9.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
h1{
    font-size: 45px;
    font-weight: bold;
    color: #575757;
}
p{
    color: #828282;
}
.set-width span{
    color: rgba(255, 166, 0, 0.897);}
.set-width{
    width: 50%;
    padding-left: 8%;
}
.set-width img{
    width: 546px;
    height: 600px;
}
#head-div-pad{
    padding-top: 8%;
}
.set-width p{
    margin-bottom: 10%;
}
.set-width a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #FFA755;
    padding: 10px 25px;
    border-radius: 60px;
}
.about-sec{
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 10%;
}
#para{
    margin-top: 20%;
    padding-right: 5%;
    margin-bottom: 20%;
}
.recipies{
    margin-top: 10%;
}
.recipies-text{
    margin-left: 367px;
    margin-right: 367px;
    margin-bottom: 30px;
}
.recipies-text h2{
    font-weight: bold;
    color: #575757;
    text-align: center;
}
.recipies-text p{
    text-align: center;
}
.showcase{
    display: flex;
    margin-right: 101px;
    margin-left: 100px;

}
.set-width-showcase img{
    width: 90%;
    height: 50%;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
.set-width-showcase{
    margin: 20px 30px;
    padding: 15px 20px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 25px;
}
.showcase h3{
    margin-top: 40px;
    font-weight: bold;
}
.showcase p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.follower{
    position: static;
    display: flex;
    margin: 120px 120px;
    padding-left: 22%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d8d5d5;
}
.follower h3{
    color: black;
    font-style: normal;
    font-size: 35px;
    font-weight: bold;
}
.follower p{
    font-size: 10px;
}
.size{
    margin-right: 10%;
}
.foot-sec span{
    color: rgba(255, 166, 0, 0.897);
}
footer {
    background-color: black;
    text-align: center;
    padding: 3em;
}
footer h2{
    color: #575757;
}
#creadit{
    font-size: 10px;
    color: white;
    margin-top: 5%;
}